snippet bang "Script Skeleton"
#!/usr/bin/env python3

def main():
    $0
	pass

if __name__ == '__main__':
	main() 
endsnippet

snippet iimage "Import utils for image shenanigans"
from PIL import Image, ImageFont, ImageDraw
endsnippet

snippet imath "Import utils for data/math stuff"
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib as mpl
import matplotlib.pyplot as plt
endsnippet
